@page "/restaurante/cadastrar-restaurante"
@using RedRidersNew.Components.Layout.LayoutRestaurante
@layout MainLayoutRestaurante
@rendermode InteractiveServer
@using RedRidersNew.Models
@inject RestauranteDAO restauranteDAO
@inject NavigationManager Navigation

<PageTitle> Cadastrar Restaurante </PageTitle>

<div class="container py-4">
    <NavBarRestaurante />

    <EditForm Model="@_novoRestaurante" OnValidSubmit="Salvar" class="card p-4 mb-4 shadow-sm">

         <DataAnnotationsValidator />
        <ValidationSummary /> 

        <h4 class="mb-3 fw-semibold border-bottom pb-2">Cadastro de Restaurante</h4>

        <div class="row g-3">

            <!-- Nome do Estabelecimento -->
            <div class="col-md-6">
                <label class="form-label fw-semibold">Nome do Estabelecimento</label>
                <input class="form-control" @bind="_novoRestaurante!.nome" />
            </div>

            <!-- Telefone -->
            <div class="col-md-6">
                <label class="form-label fw-semibold">Telefone</label>
                <InputText class="form-control" @bind-Value="_novoRestaurante!.Telefone" />
            </div>

            <!-- CNPJ -->
            <div class="col-md-6">
                <label class="form-label fw-semibold">CNPJ</label>
                <InputText class="form-control" @bind-Value="_novoRestaurante!.CNPJ" />
            </div>

            <!-- Tipo de Negócio -->
            <div class="col-md-6">
                <label class="form-label fw-semibold">Endereço</label>
                <InputText class="form-control" @bind-Value="_novoRestaurante!.endereco" />
            </div>

            <!-- Imagem do Estabelecimento -->
            <div class="col-md-12">
                <label class="form-label fw-semibold">URL da Imagem do Estabelecimento</label>
                <InputText class="form-control" @bind-Value="_novoRestaurante!.imagem" />
            </div>

        </div>

        <div class="mt-4 text-end">
            <button type="submit" class="btn btn-soft-primary px-4">Cadastrar</button>
        </div>

        @if (erro is not null)
        {
            <p style="color:red">@erro</p>
        }

    </EditForm>

</div>

@code {
    private string? erro = null;

    [SupplyParameterFromForm]
    private Restaurante? _novoRestaurante { get; set; } = new();

    private void Salvar()
    {
        try
        {
            if (string.IsNullOrWhiteSpace(_novoRestaurante!.nome))
                throw new Exception("O campo nome é obrigatório");

            restauranteDAO.Inserir(_novoRestaurante);
            Navigation.NavigateTo("/restaurante/gerenciar-restaurantes");
        }
        catch (Exception ex)
        {
            erro = ex.Message;
        }
    }
}