@page "/restaurante/{Id:int}/detalhes-restaurante/"
@using RedRidersNew.Components.Layout.LayoutRestaurante
@layout MainLayoutRestaurante
@rendermode InteractiveServer
@using RedRidersNew.Models
@inject RestauranteDAO restauranteDAO
@inject NavigationManager Navigation
@inject NavigationManager Nav

<PageTitle>Detalhes do Restaurante - @restaurante.Id </PageTitle>

<div class="container py-4">
    <NavBarRestaurante />

    <img src="@restaurante.imagem"
         alt="Imagem do Restaurante"
         class="img-fluid banner-img shadow-sm mb-4" />

    <div class="card p-4 shadow-sm">

        <h4 class="mb-3 fw-semibold border-bottom pb-2">Dados do Restaurante</h4>

        <div class="row g-3">


            <div class="col-md-6">
                <label class="form-label fw-semibold">Numero do restaurante</label>
                <input class="form-control" @bind="restaurante.Id" />
            </div>

            <!-- Nome do Estabelecimento -->
            <div class="col-md-6">
                <label class="form-label fw-semibold">Nome do Estabelecimento</label>
                <input class="form-control" @bind="restaurante.nome" />
            </div>


            <!-- Telefone -->
            <div class="col-md-6">
                <label class="form-label fw-semibold">Telefone</label>
                <InputText class="form-control" @bind-Value="restaurante.Telefone" />
            </div>

            <!-- CNPJ -->
            <div class="col-md-6">
                <label class="form-label fw-semibold">CNPJ</label>
                <InputText class="form-control" @bind-Value="restaurante.CNPJ" />
            </div>

            <!-- Tipo de Negócio -->
            <div class="col-md-6">
                <label class="form-label fw-semibold">Endereço</label>
                <InputText class="form-control" @bind-Value="restaurante.endereco" />
            </div>

            <!-- Imagem do Estabelecimento -->
            <div class="col-md-12">
                <label class="form-label fw-semibold">URL da Imagem do Estabelecimento</label>
                <InputText class="form-control" @bind-Value="restaurante.imagem" />
            </div>

        </div>

    </div>
</div>

@code {
    private string erro = string.Empty;

    [Parameter]
    public int Id { get; set; }

    [SupplyParameterFromForm]
    private Restaurante restaurante { get; set; } = new();

    protected override void OnInitialized()
    {
        var _restaurante = restauranteDAO.BuscarPorId(Id);

        if (_restaurante != null)
        {
            restaurante = _restaurante;
        }
        else
        {
            erro = "Produto não encontrado.";
        }
    }
}
