@page "/restaurante/cadastro-cardapio"
@using RedRidersNew.Components.Layout.LayoutRestaurante
@layout MainLayoutRestaurante
@rendermode InteractiveServer
@using RedRidersNew.Models
@inject CardapioDAO cardapioDAO;
@inject NavigationManager Navigation

<PageTitle>Cadastrar Cardápio</PageTitle>

<div class="container py-4">
    <NavBarCardapio />

    <!-- Formulário do cardápio -->
    <div class="card shadow-sm p-4 mb-4">
        <h4 class="mb-3">Informações do Cardápio</h4>

        <EditForm Model="@cardapio" OnValidSubmit="Salvar">
            

            <div class="mb-3">
                <label class="form-label">Nome do Cardápio</label>
                <InputText class="form-control" @bind-Value="cardapio!.nome" />
            </div>

            <div class="mb-3">
                <label class="form-label">Descrição</label>
                <InputText class="form-control" @bind-Value="cardapio!.descricao" />
            </div>
            <div class="mb-3">
                <label class="form-label">Nº Restaurante</label>
                <InputNumber class="form-control" @bind-Value="cardapio.idCresFk" />
            </div>

            <div class="mt-4 text-end">
                <button type="submit" class="btn btn-soft-primary px-4">Cadastrar</button>
            </div>

            @if (erro is not null)
            {
                <p style="color:red">@erro</p>
            }
            
        </EditForm>
    </div>

  
</div>


@code {
    private string? erro = null;

    [SupplyParameterFromForm]
    private Cardapio? cardapio { get; set; } = new();

    private void Salvar()
    {
        try
        {
            if (string.IsNullOrWhiteSpace(cardapio!.nome))
                throw new Exception("O campo nome é obrigatório");

            cardapioDAO.Inserir(cardapio);
            Navigation.NavigateTo("/restaurante/gerenciar-restaurantes");
        }
        catch (Exception ex)
        {
            erro = ex.Message;
        }
    }
}
