@page "/restaurante/detalhes-cardapio/{Id:int}"
@using RedRidersNew.Components.Layout.LayoutRestaurante
@layout MainLayoutRestaurante
@rendermode InteractiveServer
@using RedRidersNew.Models
@inject CardapioDAO cardapioDAO;
@inject NavigationManager Navigation

<PageTitle>Cardápio - @cardapio.Id</PageTitle>

<div class="menu-container py-5">

    <!-- Cabeçalho do Cardápio -->
    <div class="menu-header text-center mb-5">
        <div class="col-md-6">
            <label class="form-label fw-semibold">Nome Cardapio</label>
            <input class="form-control" @bind="cardapio.nome" />
        </div>

        <div class="col-md-6">
            <label class="form-label fw-semibold">Numero do restaurante</label>
            <input class="form-control" @bind="cardapio.idCresFk" />
        </div>

        <div class="col-md-6">
            <label class="form-label fw-semibold">Descrição</label>
            <input class="form-control" @bind="cardapio.descricao" />
        </div>

        <div class="col-md-6">
            <label class="form-label fw-semibold">Nº Cardapio</label>
            <input class="form-control" @bind="cardapio.Id" />
        </div>


    </div>

    

</div>

@code {
   
    private string erro = string.Empty;

    [Parameter]
    public int Id { get; set; }

    [SupplyParameterFromForm]
    private Cardapio cardapio { get; set; } = new();

    protected override void OnInitialized()
    {
        var c = cardapioDAO.BuscarPorId(Id);

        if (c != null)
        {
            cardapio = c;
        }
        else
        {
            erro = "Produto não encontrado.";
        }
    }
}
