@page "/restaurante/editar-cardapio/{Id:int}"
@using RedRidersNew.Components.Layout.LayoutRestaurante
@layout MainLayoutRestaurante
@rendermode InteractiveServer
@using RedRidersNew.Models
@inject CardapioDAO cardapioDAO;
@inject NavigationManager Navigation

<PageTitle>Editar Cardápio - @cardapio.Id</PageTitle>

<div class="container py-4">
    <NavBarCardapio />

    <div class="card shadow-sm p-4 mb-4">
        <h4 class="mb-3">Editar Cardápio</h4>

        <EditForm Model="@cardapio" OnValidSubmit="Salvar">
            <DataAnnotationsValidator />

            <div class="mb-3">
                <label class="form-label">Nome do Cardápio</label>
                <InputText class="form-control" @bind-Value="cardapio.nome" />
            </div>

            <div class="mb-3">
                <label class="form-label">Categoria</label>
                <InputText class="form-control" @bind-Value="cardapio.descricao" />
            </div>

            <div class="mb-3">
                <label class="form-label">Nº Restaurante</label>
                <InputNumber class="form-control" @bind-Value="cardapio.idCresFk" />
            </div>


            <button type="submit" class="btn btn-primary px-4">Salvar</button>
        </EditForm>
    </div>

   
</div>

@code {
    private string erro = string.Empty;

    [Parameter]
    public int Id { get; set; }

    [SupplyParameterFromForm]
    private Cardapio cardapio { get; set; } = new();

    protected override void OnInitialized()
    {
        var c = cardapioDAO.BuscarPorId(Id);

        if (c != null)
        {
            cardapio = c;
        }
        else
        {
            erro = "Produto não encontrado.";
        }
    }

    private void Salvar()
    {
        try
        {
            cardapioDAO.Atualizar(cardapio);

            Navigation.NavigateTo("/restaurante/gerenciar-restaurantes");
        }
        catch (Exception ex)
        {
            erro = $"Erro ao salvar: {ex.Message}";
        }

    }
}
