.container-principal-cardapios {
    width: 100%;

    .add-cardapio {
        background: #333;
        padding: 1rem;
        border-radius: 5px;
    }
}

.grid-cardapios {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 20px;
}

/* Card básico */
.card-cardapio {
    background: #fff;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 3px 10px rgba(0,0,0,0.15);
    transition: transform .2s ease;
}

    .card-cardapio:hover {
        transform: scale(1.03);
    }

    /* Imagens */
    .card-cardapio img {
        width: 100%;
        height: 300px;
        object-fit: cover;
    }

/* Botões */
.opcoes-cardapio,
.options-cardapio {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background: linear-gradient(90deg, #ede7f6, #f3e5f5);
}

    .opcoes-cardapio button,
    .options-cardapio button {
        flex: 1;
        margin: 0 5px;
        padding: 8px 0;
        border: none;
        border-radius: 6px;
        background: #333;
        cursor: pointer;
        transition: background .2s;
    }

        .opcoes-cardapio button:hover,
        .options-cardapio button:hover {
            background: #555;
        }
