.navigation-bar-restaurante a {
  color: black;
  font-size: 1.2rem;
  text-transform: lowercase;
  position: relative;
  padding-bottom: 3px;
}

.navigation-bar-restaurante a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 0%;
  background-color: blueviolet;
  transition: width .4s ease-in-out;
}

.navigation-bar-restaurante a.active::after {
  width: 100%;
}