<footer class="footer-container">
    <div class="footer-devs">
        <h2>
            &copy; Website made by TrashCoders - 2025 / Todos os direitos
            reservados
        </h2>

        <h3>Tech Leader</h3>
        <ul class="devs-list">
            <li class="dev-item">
                <img src="https://i.pinimg.com/736x/97/6f/8b/976f8b398271de345121834a779bff86.jpg" alt="Lucas Hubner" />
                <a href="#">Lucas Hubner</a>
            </li>
        </ul>

        <h3>My Team</h3>
        <ul class="devs-list">
            <li class="dev-item">
                <img src="https://i.pinimg.com/736x/cc/ca/9b/ccca9b6ae3a94c94a3e5a623ca5784b8.jpg" alt="Keynner Davi" />
                <a href="#">Keynner Davi</a>
            </li>
            <li class="dev-item">
                <img src="https://i.pinimg.com/736x/3e/50/9f/3e509f256945b68e83d23a2fcd653cc7.jpg" alt="Kaylla Brito" />
                <a href="#">Kaylla Brito</a>
            </li>
            <li class="dev-item">
                <img src="https://i.pinimg.com/736x/a5/d6/03/a5d603536e8083a0cd52679da19ebf81.jpg" alt="Tainara Rodrigues" />
                <a href="#">Tainara Rodrigues</a>
            </li>
            <li class="dev-item">
                <img src="https://i.pinimg.com/736x/1d/c6/5b/1dc65bbc0491e330fb65b005274144ae.jpg" alt="Einstein Fonseca" />
                <a href="#">Einstein Fonseca</a>
            </li>
        </ul>
    </div>

    <div class="footer-info">
        <div class="info-card">
            <h2>Links Importantes</h2>
            <NavLink href="" Match="NavLinkMatch.All">Home</NavLink>
            <NavLink href="/sobre">Sobre</NavLink>
            <NavLink href="/servicos">Serviços</NavLink>
            <NavLink href="/suporte">Suporte</NavLink>
        </div>

        <div class="info-card">
            <h2>Políticas</h2>
            <NavLink href="/privacidade">Privacidade</NavLink>
            <NavLink href="/termos">Termos de Uso</NavLink>
        </div>

        <div class="info-card">
            <h2>Redes Sociais</h2>
            <a href="#">
                <img src="https://i.pinimg.com/736x/ea/ad/ed/eaaded0bbfc930186f9d3b987f2784da.jpg" alt="Facebook" />
                <span>Facebook</span>
            </a>
            <a href="#">
                <img src="https://i.pinimg.com/736x/3c/0b/52/3c0b5296e29c391d50a7580b3e949a34.jpg" alt="Instagram" />
                <span>Instagram</span>
            </a>
            <a href="#">
                <img src="https://i.pinimg.com/736x/b5/66/fa/b566fa1473df5b662b54babb764a46f2.jpg" alt="Twitter" />
                <span>Twitter</span>
            </a>
            <a href="#">
                <img src="https://i.pinimg.com/1200x/30/6b/b4/306bb4a01a064c708d84718e5a9b70da.jpg" alt="Linkedin" />
                <span>LinkedIn</span>
            </a>
        </div>
    </div>
</footer>