@page "/entregador/cadastro-veiculo"
@using RedRidersNew.Components.Layout.LayoutEntregador
@layout MainLayoutEntregador
@rendermode InteractiveServer
@using RedRidersNew.Models
@inject VeiculoDAO veiculoDAO;
@inject NavigationManager Navigation

<PageTitle>Cadastrar Veículo</PageTitle>

<div class="container py-4">

    <NavBarVeiculos />

    <div class="card shadow-sm p-4">
        <h4 class="mb-3">Cadastrar Veículo</h4>

        <EditForm Model="@veiculo" OnValidSubmit="Salvar">
            <DataAnnotationsValidator />

            <div class="mb-3">
                <label class="form-label">Nome</label>
                <InputText class="form-control" @bind-Value="@veiculo.nome" />
            </div>

            <div class="mb-3">
                <label class="form-label">Modelo</label>
                <InputText class="form-control" @bind-Value="@veiculo.modelo" />
            </div>

            <div class="mb-3">
                <label class="form-label">Imagem (URL)</label>
                <InputText class="form-control" @bind-Value="@veiculo.rotaimg" />
            </div>

            <button type="submit" class="btn btn-soft-primary px-4">Salvar</button>
        </EditForm>
    </div>
</div>

@code {
    private string? erro = null;

    
    private Veiculo veiculo { get; set; } = new Veiculo();

    private void Salvar()
    {
        try
        {
            if (string.IsNullOrWhiteSpace(veiculo.nome))
                throw new Exception("O campo nome é obrigatório");

            veiculoDAO.Inserir(veiculo);

            Navigation.NavigateTo("/entregador/gerenciar-veiculos");
        }
        catch (Exception ex)
        {
            erro = ex.Message;
        }
    }
}
