* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #eef2ff;
}

main {
  min-height: 100vh;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.meus-restaurante {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    margin-top: 20px;
    flex: 1;
}


