@page "/Login"

<PageTitle>Login</PageTitle>

<div id="container-login">
    <form id="container-form-login">
        <h2>login</h2>
        <input type="text" name="name" placeholder="nome" />
        <input type="text" name="email" placeholder="email" />
        <input type="text" name="password" placeholder="senha" />
        <input type="text" name="confirmPassword" placeholder="confirmar senha" />
        <input type="submit" value="logar" />
    </form>
</div>