@rendermode InteractiveServer

<nav class="subNavbar">
    <NavLink href="/restaurante/meus-menus" Match="NavLinkMatch.All">Meus Menus</NavLink>
    <NavLink href="/restaurante/gerenciar-pratos">Gerenciar Pratos</NavLink>
    <NavLink href="/restaurante/gerenciar-cardapios">Gerenciar Cardapios</NavLink>
</nav>