/* Container da barra de navegação */
.navigation-bar-restaurante {
  display: flex;
  gap: 1.5rem; 
  background: linear-gradient(90deg, #ede7f6, #f3e5f5); 
  padding: 0.8rem 1.5rem;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  align-items: center;
  align-self: center;
}


