@rendermode InteractiveServer

@* exibir | cadastrar | editar ou remover *@
<nav class="subNavbar">
    <NavLink href="/restaurante/meus-restaurantes" Match="NavLinkMatch.All">Meus Restaurantes</NavLink>
    <NavLink href="/restaurante/gerenciar-restaurantes">Gerenciar Restaurantes</NavLink>
    <NavLink href="/restaurante/cadastrar-restaurantes">Cadastrar Restaurantes</NavLink>
</nav>