@rendermode InteractiveServer

<nav class="subNavbar">
    <NavLink href="/restaurante/meus-clientes" Match="NavLinkMatch.All">Meus Clientes</NavLink>
    <NavLink href="/restaurante/gerenciar-clientes">Gerenciar Clientes</NavLink>
</nav>