.container-sidebar {
    display: flex;
}

/* Sidebar base */
.sidebar {
  width: 250px;                         
  background: #ede7f6;        
  border-right: 1px solid #d1c4e9;
  padding: 20px;
  display: flex;
  flex-direction: column;
  transition: width 0.3s ease;
  height: 100%;
}

/* Fechado */
.sidebar.closed {
  width: 0;
  overflow: hidden;
  padding: 0;
}

/* Título */
.sidebar-title {
  color: #6a1b9a;
  font-size: 1.2rem;
  margin-bottom: 20px;
  font-weight: bold;
}

/* Nav */
.sidebar-nav {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/* Links */


/* Botão */
.container-sidebar button {
  align-self: start;
  margin: 20px;
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}

.img-sidebar {
  background-color: #4b4bb7;
  border-radius: 5px;
  height: 50px;
}
