@page "/restaurante/editar-prato/{id:int}"
@using RedRidersNew.Components.Layout.LayoutRestaurante
@layout MainLayoutRestaurante
@rendermode InteractiveServer
@using RedRidersNew.Models
@inject PratosDAO pratosDAO;
@inject NavigationManager Navigation

<PageTitle>Editar Prato  - @pratos.Id</PageTitle>

<div class="container py-4">
    <NavBarCardapio />

    <EditForm Model="@pratos" OnValidSubmit="Salvar" class="card p-4 mb-4 shadow-sm">

        <DataAnnotationsValidator />
        <ValidationSummary />

        <h4 class="mb-3 fw-semibold border-bottom pb-2">Editar Prato</h4>

        <div class="row g-3">

            <!-- Nome -->
            <div class="col-md-6">
                <label class="form-label fw-semibold">Nome do prato</label>
                <InputText class="form-control" @bind-Value="pratos.nome" />
            </div>

            <div class="col-md-6">
                <label class="form-label fw-semibold">Preço</label>
                <InputNumber class="form-control" @bind-Value="pratos.preco" />
            </div>

            <div class="col-md-6">
                <label class="form-label fw-semibold">Descrição</label>
                <InputText class="form-control" @bind-Value="pratos.descricao" />
            </div>

            <div class="col-md-6">
                <label class="form-label fw-semibold">Nº Cardapio</label>
                <InputNumber class="form-control" @bind-Value="pratos.idCcarFk" />
            </div>

        </div>

        <div class="mt-4 text-end">
            <button type="submit" class="btn btn-soft-primary px-4">Salvar</button>
        </div>

    </EditForm>

</div>

@code {

    private string erro = string.Empty;

    [Parameter]
    public int Id { get; set; }

    private Pratos pratos { get; set; } = new();

    protected override void OnInitialized()
    {
        var p = pratosDAO.BuscarPorId(Id);

        if (p != null)
        {
            pratos = p;
        }
        else
        {
            erro = "Produto não encontrado.";
        }
    }

    private void Salvar()
    {
        try
        {
            pratosDAO.Atualizar(pratos);

            Navigation.NavigateTo("/restaurante/gerenciar-pratos");
        }
        catch (Exception ex)
        {
            erro = $"Erro ao salvar: {ex.Message}";
        }
    }
}
