.btn-primary {
    background-color: #4b4bb7;
    border-color: #4b4bb7;
}

.btn-outline-primary {
    color: #4b4bb7;
    border-color: #4b4bb7;
}

    .btn-outline-primary:hover {
        background-color: #4b4bb7;
        color: white;
    }

.card {
    border-radius: 5px;
}

.card-img-top {
    height: 180px;
    object-fit: cover;
    width: 100%;
}
